# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# PyCharm
.idea/

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/
